extends layout

block content
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer
        .mdl-layout__drawer
            span.mdl-layout-title UUID
            nav.mdl-navigation
                each uuid in uuids
                    a.mdl-navigation__link(href="?uuid="+uuid)= uuid
                    
        main.mdl-layout__content
            .page-content
                if isUuid === false || selected === null
                    h2 not found
                else
                    ul.images-list.mdl-list
                        each val, key in images
                            span.dl-list__item
                                img(src="../../../../../images/" + selected + '/' + val)
