extends layout

block content
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer
        .mdl-layout__drawer
            span.mdl-layout-title 日付選択
            nav.mdl-navigation
                each v, k in datesList
                    a.mdl-navigation__link(href="?date="+v)= v

        main.mdl-layout__content
          .page-content
                if selectedUuid == null && selectedDate == null
                    .not-found
                        h2 not found    
                else if selectedUuid == null && selectedDate != null
                    ul.uuids-list.mdl-list
                        h4= selectedDate
                        each val, key in uuidsList
                            span.dl-list__item
                                a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(href="?date="+ selectedDate + "&uuid="+val)= val
                                
                                //img(src="../../../../../images/" + selected + '/' + val)    
                else 
                    ul.images-list.mdl-list
                        h4= selectedDate + '  >  ' + selectedUuid
                        each val, key in imagesList
                            span.dl-list__item
                                a(href="../../../../../images/" + selectedDate + '/' + selectedUuid + '/' + val)
                                    img(src="../../../../../images/" + selectedDate + '/' + selectedUuid + '/' + val)
