html,body {
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* drawer*/
/*.mdl-layout__drawer{
    width: 320px !important;
}
.mdl-layout__content{
    margin-left: !important;
    right: 0px;
    width: calc(100% - 320px);
}*/

.uuids-list, .images-list{
    width: 100%;
    padding: 0;
    margin: 2%;
}
.uuids-list a{
    margin: 8px;
    width: calc( (100% - 200px) / 2 );
}
.uuids-list h4{
    color: #888;
    font-weight: bold;
}
.images-list h5{
    color: #888;
    font-weight: bold;
}
.dl-list__item img{
    padding: 8px;
    width: calc( (100% - 120px) / 5 );
}
